    <!-- About Section -->
    <section id="about" class="about">
        <div class="container">
            <div class="about-container">
                <div class="about-content">
                    <h2>Who is Dev Legal?</h2>
                    <h3>Sabir Ibrahim</h3>
                    <h4>Managing Attorney</h4>
                    <p>During his 18-year career as an attorney and technology entrepreneur, Sabir has advised clients ranging from pre-seed startups to Fortune 50 companies on a variety of issues within the intersection of law and technology. He is a former associate at the law firm of Greenberg Traurig, a former corporate counsel at Amazon, and a former senior counsel at Roku. He also founded and managed an IT managed services provider that served professional services firms in California, Oregon, and Texas.</p>
                    <p>Sabir received his BSE in Computer Science from the University of Michigan College of Engineering. He received his JD from the University of Michigan Law School, where he was an article editor of the Michigan Telecommunications & Technology Law Review.</p>
                    <p>Sabir is licensed to practice in California and before the United States Patent & Trademark Office (USPTO). He is a Certified Information Privacy Professional (CIPP/US).</p>
                    <p>Sabir is also co-founder of Chinstrap Community, a free resource center on commercial open source software (COSS) for entrepreneurs, investors, developers, attorneys, and others interested in open source software entrepreneurship.</p>
                </div>
                <div class="about-image">
                    <img src="{{ url_for('static', filename='images/new/attorney.jpg') }}" alt="Sabir Ibrahim, Managing Attorney">
                </div>
            </div>
        </div>
    </section>
