    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-container">
                <div class="footer-logo">
                    <img src="{{ url_for('static', filename='images/new/DevLegal_Logo_Horizontal_WhiteBG.png') }}" alt="Dev Legal Logo">
                </div>
                
                <div class="footer-links">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="#about">About</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li><a href="{{ url_for('blog.index') }}">Blog</a></li>
                    </ul>
                </div>
                
                <div class="footer-links">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#services">Technology License Agreements</a></li>
                        <li><a href="#services">Open Source Software</a></li>
                        <li><a href="#services">SaaS Agreements</a></li>
                        <li><a href="#services">Product Counseling</a></li>
                        <li><a href="#services">Privacy Policies</a></li>
                    </ul>
                </div>
                
                <div class="footer-links">
                    <h3>Connect</h3>
                    <ul>
                        <li><a href="mailto:inquiries@dev.legal">inquiries@dev.legal</a></li>
                        <li><a href="tel:5102553766">510.255.3766</a></li>
                    </ul>
                    
                    <div class="footer-social">
                        <a href="#" class="social-icon" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="social-icon" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="social-icon" target="_blank"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                
                <div class="footer-bottom">
                    <p>&copy; {{ now.year }} Dev Legal. All rights reserved. <a href="/privacy-policy">Privacy Policy</a> | <a href="/terms-of-service">Terms of Service</a></p>
                </div>
            </div>
        </div>
    </footer>
