<!-- Header -->
<header>
    <div class="header-container">
        <div class="logo">
            <a href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='images/new/logo-horizontal.png') }}" alt="Dev Legal Logo">
            </a>
        </div>
<div class="topnav" id="myTopnav">

                <a href="#services">Services</a>
                <a href="#contact">Contact</a>
                <a href="{{ url_for('blog.index') }}">Blog</a>
                <a href="{{ url_for('main.index') }}">Home</a>
  <a href="javascript:void(0);" class="icon" onclick="hamFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
    </div>
</header>
