    <!-- Hero Section -->
    <section class="hero">
        <div class="container">
            <div class="hero-content">
                <h1>The legal landscape around technology is complex. <br /><span>Navigate it with confidence.</span></h1>
                <p>Dev Legal counsels clients on matters at the intersection of law and technology, including intellectual property, open source software licensing and compliance, technology transactions, product counseling, data privacy and information security, and legal and regulatory compliance.</p>
                <a href="#contact" class="cta-button">Get in Touch</a>
            </div>
            <div class="hero-image">
                <img src="{{ url_for('static', filename='images/new/keyboard.jpg') }}" alt="Keyboard with legal and compliance terms">
            </div>
        </div>
    </section>
